<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find the suitable restaurant for you" />
    <meta name="theme-color" content="#1b3045">

    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./images/icon/icon.png" />
    <link rel="apple-touch-icon" href="./images/icon/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    
    <title>Restaurant Apps "Fork Finder"</title>
  </head>

  <body>
    <a href="#content" class="skip-link">Skip To Content</a>

    <header>
      <div class="container-navbar">
        <heading-app></heading-app>
        <nav-bar-app></nav-bar-app>
      </div>
      <hero-app></hero-app>
    </header>
    
    <main id="content" tabindex="0">
      <introduction-app></introduction-app>
      <advantage-app></advantage-app>
      <div class="lds-roller" id="loadingContainer"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <div class="error-container" id="errorContainer" display="none"></div>
    </main>

    <footer tabindex="0">
      <foot-app></foot-app>
    </footer>
  </body>
</html>
